html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
  z-index: 1;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
	font-size: 16px;
}

.first-popup .leaflet-popup-content-wrapper {
  font-family: "Courier New", sans-serif;
  font-size:24px;
  }


/*Slider*/
.slidercontainer {
    width: 75%;
    position:fixed;
    bottom:50px;
    right:-100px;
    z-index: 10;
    -webkit-appearance: none;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slidercontainer:hover{
  opacity: 1;
}

.playbutton {
    position: absolute;
    bottom:0px;
    width: 100px;
    height: 50px;
    background-image: url("../_images/play-icon-white-png-8.png");
    background-repeat: no-repeat;
    background-position: center;
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  	background-color:#1f407a;
  	-moz-border-radius:10px;
  	-webkit-border-radius:10px;
  	border-radius:10px;
  	border:1px solid #1f407a;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:19px;
  	padding:0px 10px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #1f407a;
}

.slider {

    -webkit-appearance: none;
    margin-left: 125px;
    margin-bottom: 18px;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #1f407a;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #cccccc;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}