html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
  z-index: 1;
}

/*Slider*/
.slidercontainer {
    width: 75%;
    position:fixed;
    bottom:50px;
    right:-100px;
    z-index: 10;
    -webkit-appearance: none;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slidercontainer:hover{
  opacity: 1;
}

.playbutton {
    position: absolute;
    bottom:0px;
    width: 100px;
    height: 50px;
    background-image: url("../_images/play-icon-white-png-8.png");
    background-repeat: no-repeat;
    background-position: center;
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  	background-color:#1f407a;
  	-moz-border-radius:10px;
  	-webkit-border-radius:10px;
  	border-radius:10px;
  	border:1px solid #1f407a;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:19px;
  	padding:0px 10px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #1f407a;
}

.slider {

    -webkit-appearance: none;
    margin-left: 125px;
    margin-bottom: 18px;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #1f407a;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #cccccc;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}



.custom-popup .leaflet-popup-content-wrapper {
  background: transparent;
  color:#fff;
  font-family: "Courier New", sans-serif;
  font-size:18px;
  border-radius: 5px;
  max-height: 0px;
  max-width: 200px;
  }
.custom-popup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
  }


  .custom-popup2 .leaflet-popup-content-wrapper {
    background: #fff;
    color:#fff;
    font-family: "Courier New", sans-serif;
    font-size:18px;
    border-radius: 5px;
    max-height: 0px;
    max-width: 500px;
    }
  .custom-popup2 .leaflet-popup-tip {
      background: #333333;
      border: #333333;
      box-shadow: transparent;
      border-radius: #333333;
    }


/*
  .custom-popup2 .leaflet-popup-content-wrapper {
    background: #ff0000;
    color:#ff0000;
    font-family: "Courier New", sans-serif;
    font-size:18px;
    border-radius: 5px;
    max-height: 0px;
    max-width: 200px;
    }
  .custom-popup2 .leaflet-popup-tip {
      background: #ff0000;
      border: #ff0000;
      box-shadow: transparent;
      border-radius: #ff0000;
    }

    */
